ng-include .opened + .home-wrapper {
  overflow: hidden;
  overflow-y: hidden;
}
.home-wrapper {

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .headline {
    /* Hossam Saraya: */
    font-family: MyriadPro-Semibold;
    font-size: 48px;
    color: #FFFFFF;
    line-height: 58px;

  }

  .sub {
    /* A UI/UX Designer, Fr: */
    font-family: Raleway-Light;
    font-size: 23px;
    color: rgba(255,255,255,0.70);
    line-height: 33px;
    letter-spacing: -0.7px;
  }


  .header {
    color: #FFF;
    padding-bottom: 74px;

    .container {
      position: relative;
      top:-20px;
    }
    .image {
      margin-top: 7px;
    }
    .cta {
      margin-top: 80px;
      margin-bottom: 50px;
    }
    .scroll-to-see {
      text-align: center;

      .text {
        /* scroll down to explo: */
        font-family: ProximaNova-Regular;
        font-size: 12px;
        color: rgba(255,255,255,0.50);
        line-height: 17px;
        margin:0 auto;
      }

      img {
        margin-top: -1px;
        width: 16px;
        margin-right: 7px;
        opacity: .5;
      }
    }
    .navigation {
      margin-bottom: 10px;
      padding: 22px;

      .logo {
        /* saraya.me: */
        font-family: ProximaNova-Semibold;
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 1px;
        line-height: 43px;
        margin-left: 50px;
      }

      ul {
        float:right;
        margin-right: 40px;
        list-style: none;
        position: relative;
        top: -34px;

        a {
          padding-bottom: 10px;
          @include transition(border .2s ease-out);
        }

        a:hover{
          text-decoration: none;
          border-bottom: 4px solid #FFFFFF;

        }

        li {
          display: inline-block;
          list-style: none;
          /* portfolio: */
          font-family: ProximaNova-Regular;
          font-size: 24px;
          color: #FFFFFF;
          line-height: 29px;
          margin-left: 47px;
        }
      }
    }

    .headline {
      font-size: 48px;
    }
    .sub {
      width:60%;
      margin: 0 auto;
      margin-top: 9px;

      /* A UI/UX Designer, Fr: */
      font-size: 23px;
      color: rgba(255,255,255,0.70);
      line-height: 33px;
    }

    .image {
      margin-bottom: 50px;
      img {
        width: 200px;
        height: auto;
      }
    }
   }

  .portfolio {
    img {
      width:100%;
    }

    .row {
      margin-bottom: 30px;
    }
  }
  .body {
    overflow: visible;
    padding:80px 0 100px 0;
    position: relative;

    .bg {
      @include transform(rotate(10deg));
      background: #FFFFFF;
      position: absolute;
      top:0px;
      left:-200px;
      right:-200px;
      bottom:-400px;

    }


    .title {
      /* MOST RECENT WORK: */
      font-family: ProximaNova-Bold;
      font-size: 24px;
      color: rgba(0,0,0,0.80);
      letter-spacing: 2.5px;
      line-height: 36px;
      /* Line: */
      padding-bottom: 20px;
      margin-bottom: 60px;
      border-bottom: 1px solid rgba(9,9,9,0.14);

      .fa {
        font-size: 30px;
        margin-right: 10px;
        font-weight: bold;
      }
    }
  }

  .footer {
    padding-top: 109px;
    padding-bottom: 74px;

    .headline {
      font-size: 48px;
    }

    .sub {
      width:60%;
      margin: 0 auto;
      margin-top: 9px;

      /* A UI/UX Designer, Fr: */
      font-size: 23px;
      color: rgba(255,255,255,0.70);
      line-height: 33px;
    }

    .cta {
      margin-top: 80px;
      margin-bottom: 80px;
      img {
        width: 10px;
        height: auto;
        margin-right: 28px;
      }
    }

    .line {
      /* Line: */
      border-bottom: 1px solid rgba(255,255,255,0.36);
    }

    ul.social {
      list-style:none;
      text-align: center;
      margin-top: 74px;

      li {
        list-style: none;
        display: inline-block;
        margin-left: 27px;
      }
      li:first-child{
        margin:0;
      }
      li:last-child {
        margin-right: 27px;
      }
      a {
        position: relative;
        display: block;
        width: 82px;
        height: 82px;
        padding: 30px;
        border-radius: 50%;
        /* Oval 12: */
        border: 3px solid rgba(255,255,255,0.81);
        @include transition(background .2s ease-in);
      }

      a:hover {
        background: rgba(255,255,255,.1);
      }
      i {
        position: absolute;
        top:50%;
        left:50%;
        @include transform(translate(-50%,-50%));
        color: #FFFFFF;
        font-size: 36px;
      }
    }
  }

}
