.project-wrapper {
  color:#FFFFFF;
  @include transform(translateZ(0));
  .title {
    /* Sharp Insurance Syst: */
    font-family: MyriadPro-Light, "Helvetic Neue", Helvetica, Arial;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
    &.small {
      font-size: 30px;
      margin-top: 80px;

    }
    i {
      visibility: hidden;
      font-size: 20px;
    }


  }
  a:hover {
    i {
      visibility: visible;
    }
  }
  .line {
    /* Line: */
    border-bottom: 1px solid rgba(255,255,255,0.20);
    margin-top: 10px;
  }

  .desc {
    /* fillerati text: */
    font-family: Raleway-Light,"Helvetic Neue", Helvetica, Arial;
    font-size: 18px;
    color: rgba(255,255,255,0.60);
    line-height: 46px;
    margin-top: 10px;

  }

  .tech-stack,.tech-stack-small {
    float: right;
    min-width: 300px;
    width: 20%;
    margin-top: 110px;

    &.tech-stack-small {
      float: none;
      width: 100%;


    }
    .title {
      /* Technology Stack: */
      font-family: MyriadPro-Light,"Helvetic Neue", Helvetica, Arial;
      font-size: 30px;
      color: rgba(255,255,255,0.80);
      line-height: 37px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
      img {
        width:30px;
      }
    }



    .techs {
      @media(min-width:992px){
        margin-left: 45px;

      }
    }
    .tech-headline {
      margin-top: 43px;
      /* Backend: */
      font-family: "MyriadPro-Light","Helvetic Neue", Helvetica, Arial;
      font-size: 28px;
      color: rgba(255,255,255,0.80);
      line-height: 37px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
    }




    .frontend {
      margin-top: 80px;
    }
    .tech-name {
      /* Ruby on Rails: */
      font-family: Raleway-Light,"Helvetic Neue", Helvetica, Arial;
      font-size: 16px;
      color: rgba(255,255,255,0.80);
      letter-spacing: 1.79px;
      line-height: 29px;
      margin-top: 12px;
    }
  }


  .preview {
    /* jobs: */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    text-align: right;
    position: relative;
    margin-right: -1%;
    margin-top: 87px;
    width: 60%;
    float: right;
    img {
      width:100%;
    }

    .photo  {
     position: relative;
    }

  }

  .preview-small {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);

    text-align: center;
    margin-top: 60px;
    width: 100%;

    img {
      width: 100%;
    }
    .photo {
      position: relative;
    }
  }

  .preview-mobile {
    margin-top: 77px;
    text-align: center;


    .iphone-frame {
      text-align: center;
      margin: 0 auto;
      background: url("/images/iphone_frame.png");
      background-size: contain;
      /* min-height: 500px; */
      background-repeat: no-repeat;
      background-position: center;

      img {
        width: 40%;
        z-index: -1;
        transform: scale(0.76, 0.76);
      }

      @media (max-width: 480px) {
        img {
          width: 100%;
        }
      }
    }
  }
  .screenshots {
    margin-top: 87px;
    padding-bottom: 80px;

    img {
      margin-top: 20px;
      border-radius: 4px;
    }
    .fluidbox-overlay {
      position: fixed !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: -1000%;
      background: rgba(0,0,0,.75);
      transition-duration: 0.25s;

    }
    .fluidbox-ghost {
      transition-duration: 0.25s;
    }
    .screenshots-headline {
      /* Screenshots: */
      font-family: MyriadPro-Light,"Helvetic Neue", Helvetica, Arial;
      font-size: 30px;
      color: rgba(255,255,255,0.80);
      letter-spacing: 1.25px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
      img {
        text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
        width: 30px !important;
        position: relative;
        top:-12px;
        margin-right: 10px;
      }
    }

    .line {
      margin-bottom: 10px;
    }
    img {
      width: 100% !important;
    }


  }


  & > * {
    visibility: hidden;
  }
  &.jobfusion {
    /* Rectangle 7: */
    background: rgba(27,48,65,0.97);
  }


  &.sharp {
    /* Rectangle 13: */
    background: rgba(168,72,32,0.97);
  }

  &.ovio {
    /* Rectangle 13: */
    background: rgba(28,34,42,0.97);
  }

  &.nassya {
    /* Rectangle 13: */
    background: rgba(69,28,28,0.97);
    /* Rectangle 13: */
  }

  &._80m {
    /* Rectangle 7: */
    background: rgba(47,127,85,0.97);
  }
  &.komodo {
    /* Rectangle 7: */
    background: rgba(28,34,42,0.97);
  }


  /* Mobile Styles */
  @media(max-width:767px){
    .tech-stack-small .title {
      font-size: 24px;
    }

    .screenshots .screenshots-headline {
      font-size: 24px;

      img {

      }
    }
    .tech-stack-small .frontend {
      margin-top: 50px;
    }
    .title .img {
      width: 20px;
    }

    .tech-headline {
      margin-top: 15px !important;
      font-size: 21px !important;
    }

    .tech-name {
      font-size: 14px !important;
      margin-top: 4px !important;
    }

    .title {
      font-size: 36px;
    }
    .desc {
      font-size: 16px;
      line-height: 36px;
    }
    .tech-stack-small .techs {
      margin: 0;
    }

  }
}


