.project-wrapper {
  color:#FFFFFF;
  @include transform(translateZ(0));
  .title {
    /* Sharp Insurance Syst: */
    font-family: MyriadPro-Light;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
    &.small {
      font-size: 30px;
      margin-top: 80px;

    }
  }

  .line {
    /* Line: */
    border-bottom: 1px solid rgba(255,255,255,0.20);
    margin-top: 10px;
  }

  .desc {
    /* fillerati text: */
    font-family: Raleway-Light;
    font-size: 18px;
    color: rgba(255,255,255,0.60);
    line-height: 46px;
    margin-top: 10px;

  }

  .tech-stack,.tech-stack-small {
    float: right;
    min-width: 300px;
    width: 20%;
    margin-top: 110px;

    &.tech-stack-small {
      float: none;
      width: 100%;


    }
    .title {
      /* Technology Stack: */
      font-family: MyriadPro-Light;
      font-size: 30px;
      color: rgba(255,255,255,0.80);
      line-height: 37px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
      img {
        width:30px;
      }
    }



    .techs {
      margin-left: 45px;
    }
    .tech-headline {
      margin-top: 43px;
      /* Backend: */
      font-family: "MyriadPro-Light";
      font-size: 28px;
      color: rgba(255,255,255,0.80);
      line-height: 37px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
    }




    .frontend {
      margin-top: 80px;
    }
    .tech-name {
      /* Ruby on Rails: */
      font-family: Raleway-Light;
      font-size: 16px;
      color: rgba(255,255,255,0.80);
      letter-spacing: 1.79px;
      line-height: 29px;
      margin-top: 12px;
    }
  }

  .preview {
    /* jobs: */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);
    text-align: right;
    position: relative;
    margin-right: -1%;
    margin-top: 88px;
    width: 60%;
    float: right;
    img {
      width:100%;
    }

    .photo  {
     position: relative;
    }

  }

  .preview-small {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.42);

    text-align: center;
    margin-top: 60px;
    width: 100%;

    img {
      width: 100%;
    }
    .photo {
      position: relative;
    }
  }

  .screenshots {
    margin-top: 150px;

    img {
      margin-top: 20px;
      border-radius: 4px;
    }
    .fluidbox-overlay {
      bottom:-1000%;
      background: rgba(0,0,0,.75);
      transition-duration: 0.25s;

    }
    .fluidbox-ghost {
      transition-duration: 0.25s;
    }
    .screenshots-headline {
      /* Screenshots: */
      font-family: MyriadPro-Light;
      font-size: 30px;
      color: rgba(255,255,255,0.80);
      letter-spacing: 1.25px;
      text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
      img {
        text-shadow: 0px 2px 4px rgba(0,0,0,0.30);
        width: 30px !important;
        position: relative;
        top:-12px;
        margin-right: 10px;
      }
    }

    .line {
      margin-bottom: 45px;
    }
    img {
      width: 100% !important;
    }


  }


  & > * {
    visibility: hidden;
  }
  &.jobfusion {
    /* Rectangle 7: */
    background: rgba(27,48,65,0.97);
  }


  &.sharp {
    /* Rectangle 13: */
    background: rgba(168,72,32,0.97);
  }

}


