* {
  -webkit-font-smoothing: subpixel-antialiased;
  box-sizing: border-box !important;
}

body {
}

h1,h2,h3,h4,h5,h6,p {
  margin:0;
}

a, a:hover {
  color: #FFFFFF;
  text-decoration: none !important;
}

a, a:visited ,a:hover {

  text-decoration: none !important;
  color:white;
}
