.spinner {
  width: 52px;
  height: 52px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      } 75% {
          transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
          }
}

.preload {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
  text-align: center;
  transition: all 4s !important;
  transition-duration: 2s !important;
  -webkit-transition-duration: 2s !important;

  font-family: "ProximaNova-Semibold";
  letter-spacing: 2px;


  .spinner {
    position: absolute;
    top:50%;
    left:50%;
    @include transform(translateX(-50%) translateY(-50%));
  }

  .bold {

    transition: all 4s !important;
    transition-duration: 2s !important;
    -webkit-transition-duration: 2s !important;
    position: absolute;
    letter-spacing: 3px;
    color:#FFF;
    font-size: 12px;
    top: calc(50% + 70px);
    left:50%;
    @include transform(translateX(-50%));


  }


}

.preload.animation {
-webkit-animation-name:myfirst;
-webkit-animation-duration:10s !important;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:0s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:alternate;
-webkit-animation-play-state:running;
/* Standard syntax */
animation-name:myfirst;
animation-duration:10s !important;
animation-timing-function:linear;
animation-delay:0s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-play-state:running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst
{
  0%   {background: #311D39; left:0px; top:0px;}
  25%  {background: #67434F; left:0px; top:0px;}
  50%  {background: #8CBF99; left:0px; top:0px;}
  75%  {background: #F06D61; left:0px; top:0px;}
  100% {background: #A51A41; left:0px; top:0px;}
}


/* Standard syntax */
@keyframes myfirst
{
  0%   {background: #222; left:0px; top:0px;}
  25%  {background: #e74c3c; left:0px; top:0px;}
  50%  {background: #16a085; left:0px; top:0px;}
  75%  {background: #0d3349; left:0px; top:0px;}
  100% {background: #e38d13; left:0px; top:0px;}
}


