

.button {
  /* GET TO KNOW ME: */
  font-family: ProximaNova-Bold;
  font-size: 21.27px;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 2.03px;
  line-height: 25px;
  padding: 30px 54px;
  /* Rectangle 2: */
  border: 3px solid #FFFFFF;
  border-radius: 4.8px;
  display: inline-block;
  @include transition(background .2s ease-in);

  &:hover {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    background: rgba(255, 255, 255, .1);
  }

}

.blur {

//
    -webkit-filter: blur(15px);
//  transition: all .4s;


}

.animated {
  visibility: visible !important;;
  -vendor-animation-duration: 1s !important;
}

.overlay {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: -1;
  padding-bottom: 80px;
  padding-top: 80px;


  .close-modal {
    position: absolute;
    top:30px;
    right: 30px;
    cursor: pointer;
    img {
      width:25px;
    }
  }
  .cta {
    margin-top: 80px;
  }


  .button {
    font-family: ProximaNova-Semibold;
    font-size: 17.27px;
    letter-spacing: 2.03px;
    padding: 19px 24px;
  }
  &.closed {
    opacity: 0;
    z-index: -1;
  }
  &.opened {
    opacity: 1;
    z-index: 2;

  }

  &.opened.scale {
    -webkit-transform: scale(1,1);
  }

  &.closed.rotate {
    -webkit-transform: rotateX(-30deg);
  }

  &.closed.skew {
    -webkit-transform: skew(20deg, 0deg);
  }

  &.closed.scale {
    -webkit-transform: scale(0.9,0.9);
  }

  &.opened.rotate {
    -webkit-transform: rotateX(0deg);

  }
  &.opened.skew {
    -webkit-transform: skew(0deg, 0deg);
  }

  @media (min-width: 1200px) {
    .container {
      width: 900px;
    }
  }

}

