.button {
  /* GET TO KNOW ME: */
  font-family: ProximaNova-Bold;
  font-size: 21.27px;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 2.03px;
  line-height: 25px;
  padding: 30px 54px;
  /* Rectangle 2: */
  border: 3px solid #FFFFFF;
  border-radius: 4.8px;
  display: inline-block;
  @include transition(background .2s ease-in);

  &:hover {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    background: rgba(255, 255, 255, .1);
  }

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  z-index: -1;


  &.closed {
    opacity: 0;
    z-index: -1;
  }
  &.opened {
    opacity: 1;
    z-index: 1000;

  }


  &.closed.scale {
    -webkit-transform: scale(.9,.9);
  }

  &.closed.rotate {
    -webkit-transform: rotateX(-30deg);
  }

  &.closed.skew {
    -webkit-transform: skew(20deg, 0deg);
  }

  &.scale {
    -webkit-transform: scale(1,1);
  }

  &.rotate {
    -webkit-transform: rotateX(0deg);

  }
  &.skew {
    -webkit-transform: skew(0deg, 0deg);
  }

}

