<div class="overlay project-wrapper jobfusion scale {{jobfusion.modalState}}">
  <div class="container ptl">
    <div class="close-modal text-right">
      <a class="" ng-click="toggle()">
        Close
        <i class="fa fa-crosshairs text-right"></i>
      </a>
    </div>
    <h1 class="title">{{jobfusion.title}}</h1>

    <p class="project-desc desc">Unlock your social network to find tech jobs that you're directly connected to. With
      the largest tech jobs database in the world, save time looking for a job and never miss an opportunity again.</p>

    <h1 class="mtl title small role">My Role</h1>

    <p class="role-desc desc">
      In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards
      among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one
      place; for at one and the same .
    </p>
  </div>
  <div class="preview">
    <div class="bar">
      <img src="/images/browser_bar.png" alt=""/>
    </div>
    <div class="photo">
      <img src="/images/jobfusion/preview.png" alt=""/>
    </div>
  </div>
</div>
