<div class="overlay project-wrapper jobfusion  {{jobfusion.modalState}}">
  <div class="container ptl">
    <div class="close-modal text-right">
      <a class="" ng-click="jobfusion.toggle()">
        <img src="/images/cross.png" alt=""/>
      </a>
    </div>
    <h1 class="title project-title">{{jobfusion.title}}</h1>

    <p class="project-desc desc">Unlock your social network to find tech jobs that you're directly connected to. With
      the largest tech jobs database in the world, save time looking for a job and never miss an opportunity again.</p>

    <h1 class=" title small role">My Role</h1>

    <p class="role-desc desc">
      In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards
      among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one
      place; for at one and the same .
    </p>
  </div>
  <div class="tech hidden-sm hidden-xs">


    <div class="preview">
      <div class="bar">
        <img src="/images/browser_bar.png" alt=""/>
      </div>
      <div class="photo">
        <img src="/images/jobfusion/preview.png" alt=""/>
      </div>
    </div>

    <div class="tech-stack ">
      <div class="title">
        <img src="/images/stack.png" alt=""/>
        Technology Stack
      </div>
      <div class="line"></div>
      <div class="techs backend">
        <div class="tech-headline">Backend</div>
        <div class="line"></div>
        <div class="backend">
          <div class="tech-name">Rails</div>
          <div class="tech-name">AWS</div>
        </div>
        <div class="frontend">
          <div class="tech-headline">Frontend</div>
          <div class="line"></div>
          <div class="tech-name">AngularJS</div>
          <div class="tech-name">Modernizr</div>
          <div class="tech-name">Bootstrap</div>
          <div class="tech-name">SASS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="tech-compact visible-sm visible-xs container animated">
    <div class="preview-small">
      <div class="bar">
        <img src="/images/browser_bar.png" alt=""/>
      </div>
      <div class="photo">
        <img src="/images/jobfusion/preview.png" alt=""/>
      </div>
    </div>
    <div class="tech-stack-small ">
      <div class="title">
        <img src="/images/stack.png" alt=""/>
        Technology Stack
      </div>
      <div class="line"></div>
      <div class="techs backend">
        <div class="tech-headline">Backend</div>
        <div class="line"></div>
        <div class="backend">
          <div class="tech-name">Rails</div>
          <div class="tech-name">AWS</div>
        </div>

        <div class="frontend ">
          <div class="tech-headline">Frontend</div>
          <div class="line"></div>
          <div class="tech-name">AngularJS</div>
          <div class="tech-name">Modernizr</div>
          <div class="tech-name">Bootstrap</div>
          <div class="tech-name">SASS</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!---->
  <!--<div class="center  cta">-->
  <!--<a class="button" href="" ng-click="scrollToEl('.body')">-->
  <!--<i class="fa fa-eye"></i>-->
  <!--SCREENSHOTS-->
  <!--</a>-->

  <!--</div>-->

  <div class="screenshots container animated">
    <div class="screenshots-headline">
      <img src="/images/camera.png" alt=""/>
      Screenshots
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="col-md-4">
        <a href="/images/jobfusion/preview.png" class="fluid-zoom">
          <img src="/images/jobfusion/preview.png" alt="x"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/images/jobfusion/preview.png" class="fluid-zoom">
          <img src="/images/jobfusion/preview.png" alt="x"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/images/jobfusion/preview.png" class="fluid-zoom">
          <img src="/images/jobfusion/preview.png" alt="x"/>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="/images/jobfusion/preview.png" class="fluid-zoom">
          <img src="/images/jobfusion/preview.png" alt="x"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/images/jobfusion/preview.png" class="fluid-zoom">
          <img src="/images/jobfusion/preview.png" alt="x"/>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/images/jobfusion/preview.png" class="fluid-zoom">
          <img src="/images/jobfusion/preview.png" alt="x"/>
        </a>
      </div>
    </div>
  </div>
</div>
