<div class="home-wrapper">
  <div class="header">
    <div class="navigation">
      <div class="logo">
        <a href="">
          saraya.me
        </a>
      </div>
      <ul class="links">
        <li><a href="#">portfolio</a></li>
        <li><a href="">about</a></li>
        <li><a href="">blog</a></li>
      </ul>
    </div>


    <div class="container">
      <div class="image center">
        <img src="/images/avatar.png" alt=""/>
      </div>
      <h1 class="center headline" >Hossam Saraya</h1>
      <h4 class="center sub">A UI/UX Designer, Front-end, iOS Developer and a
        Security Reasearcher based in Cairo
      </h4>
      <div class="center cta">
        <a class="button" href="#">GET TO KNOW ME</a>
      </div>
      <div class="center">
        <a href="#" class="scroll-to-see center">
          <div class="text">
            scroll down to explore
            my work
          </div>
          <img src="/images/mouse.png" alt=""/>
        </a>
      </div>
    </div>
  </div>

  <div class="body">

  </div>


  <div class="footer" >
    <div class="container">
      <h1 class="center headline" >Hossam Saraya</h1>
      <h4 class="center sub">A UI/UX Designer, Front-end, iOS Developer and a
        Security Reasearcher based in Cairo
      </h4>

      <div class="center cta">

        <a class="button" href="#">
          <img src="/images/pencil.png" alt=""/>
          CHECK MY BLOG</a>
      </div>

      <div class="line"></div>
      <div class="center">
        <ul class="social">

          <li><a href="#">
            <i class="fa fa-facebook"></i>
          </a></li>
          <li><a href="#">
            <i class="fa fa-twitter"></i>
          </a></li>
          <li><a href="#">
            <i class="fa fa-github"></i>
          </a></li>
          <li><a href="#">
            <i class="fa fa-stack-overflow"></i>
          </a></li>
          <li><a href="#">
            <i class="fa fa-linkedin"></i>
          </a></li>
          <li><a href="#">
            <i class="fa fa-envelope"></i>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
