<div class="home-wrapper" ng-class="{'blur':currentProject.modalOpened}">
  <div class="header hidden">
    <div class="navigation wow slideInDown" >
      <div class="logo">
        <a href="">
          saraya.me
        </a>
      </div>
      <ul class="links">
        <li><a href="" ng-click="scrollToEl('.body')">portfolio</a></li>
        <li><a href="" ng-click="scrollToEl('.footer')">about</a></li>
        <li><a href="">blog</a></li>
      </ul>
    </div>


    <div class="container ">
      <div class="image center wow fadeInDown" data-wow-delay=".5s">
        <img class="avatar" src="/images/avatar.png" alt=""/>
      </div>
      <h1 class="center headline wow fadeInUp" data-wow-delay="1s">Hossam Saraya</h1>
      <h4 class="center sub wow fadeIn" data-wow-delay="1.2s">A UI/UX Designer, Front-end, iOS Developer and a
        Security Reasearcher based in Cairo
      </h4>

      <div class="center cta wow flipInX" data-wow-delay="1.3s">
        <a class="button" href="" ng-click="scrollToEl('.body')">GET TO KNOW ME</a>
      </div>
      <div class="center">
        <a href="" class="scroll-to-see center "  ng-click="scrollToEl('.body')">

          <div class="text wow fadeInUp" data-wow-delay="2.4s">
            <img src="/images/mouse.png" alt=""/>

            scroll down to explore
            my work
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="body">
    <!--<div class="bg"></div>-->
    <div class="container portfolio">

      <div class="row">
        <div class="col-xs-12">
          <h1 class="center title wow fadeInDown">
            <i class="fa fa-suitcase"></i>
            MOST RECENT WORK
          </h1>
        </div>
      </div>

      <div class="row hidden-sm hidden-xs" ng-repeat="row in projects">

        <div class=" col-xs-12 col-sm-6 col-md-4 wow fadeInUp round" ng-repeat="project in row">
             <!--data-wow-delay="{{(n/10) + 's'}}">-->
            <figure class="effect-chico round">
              <img ng-src="{{project.mockupImageUrl}}" class="round" alt="img12"/>
              <figcaption>
                <div>
                  <h2> <span>{{project.title}}</span></h2>
                  <!--<p>Lily likes to play with crayons and pencils</p>-->
                </div>
                <a ng-click="toggle(project)">View more</a>
              </figcaption>
            </figure>
        </div>

      </div>

      <div class="row hidden-lg hidden-xs hidden-md" ng-repeat="row in projectsTwoColumn">

        <div class=" col-xs-12 col-sm-6 col-md-4 wow fadeInUp" ng-repeat="project in row">
          <!--data-wow-delay="{{(n/10) + 's'}}">-->
          <figure class="effect-chico round">
            <img ng-src="{{project.mockupImageUrl}}" class="round" alt="img12"/>
            <figcaption>
              <div>
                <h2> <span>{{project.title}}</span></h2>
                <!--<p>Lily likes to play with crayons and pencils</p>-->
              </div>
              <a ng-click="toggle(project)">View more</a>
            </figcaption>
          </figure>        </div>

      </div>
      <div class="row visible-xs" ng-repeat="row in projectsOneColumn">

        <div class=" col-xs-12 col-sm-6 col-md-4 wow fadeInUp" ng-repeat="project in row">
          <!--data-wow-delay="{{(n/10) + 's'}}">-->
          <figure class="effect-chico round">
            <img ng-src="{{project.mockupImageUrl}}" class="round" alt="img12"/>
            <figcaption>
              <div>
                <h2> <span>{{project.title}}</span></h2>
                <!--<p>Lily likes to play with crayons and pencils</p>-->
              </div>
              <a ng-click="toggle(project)">View more</a>
            </figcaption>
          </figure>        </div>

      </div>
    </div>



  </div>
  <div class="footer">
    <div class="container">
      <h1 class="center headline wow fadeInUp" data-wow-delay="0s">Hossam Saraya</h1>
      <h4 class="center sub wow fadeIn" data-wow-delay="0.1s">A UI/UX Designer, Front-end, iOS Developer and a
        Security Reasearcher based in Cairo
      </h4>

      <div class="center cta wow flipInX" data-wow-delay=".2s">

        <a class="button" href="#">
          <img src="/images/pencil.png" alt=""/>
          CHECK MY BLOG</a>
      </div>

      <div class="line wow fadeIn" data-wow-delay=".6s"></div>
      <div class="center">
        <ul class="social">

          <li class="wow fadeInDown" data-wow-delay=".6s"><a href="#">
            <i class="fa fa-facebook"></i>
          </a></li>
          <li class="wow fadeInDown" data-wow-delay=".7s"><a href="#">
            <i class="fa fa-twitter"></i>
          </a></li>
          <li class="wow fadeInDown" data-wow-delay=".8s"><a href="#">
            <i class="fa fa-github"></i>
          </a></li>
          <li class="wow fadeInDown" data-wow-delay=".9s"><a href="#">
            <i class="fa fa-stack-overflow"></i>
          </a></li>
          <li class="wow fadeInDown" data-wow-delay="1s"><a href="#">
            <i class="fa fa-linkedin"></i>
          </a></li>
          <li class="wow fadeInDown" data-wow-delay="1.1s"><a href="#">
            <i class="fa fa-envelope"></i>
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <!--PRELOAD IMAGE-->
  <div class="hidden">
    <img src="/images/jobfusion/preview.jpg" alt=""/>
    <img src="/images/80m/preview.jpg" alt=""/>
    <img src="/images/komodo/preview.jpg" alt=""/>
    <img src="/images/nassya/preview.jpg" alt=""/>
    <img src="/images/sharp/preview.jpg" alt=""/>
    <img src="/images/ovio/preview.jpg" alt=""/>
    <img src="/images/iphone_frame.png" alt=""/>
  </div>
</div>
<ng-include src="'views/project_modal.html'"></ng-include>
<ng-include src="'views/preload_modal.html'"></ng-include>
