<div class="home-wrapper">
  <div class="header" ng-style="minHeight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis esse mollitia sed soluta. Aliquam dignissimos dolorum eius expedita harum hic incidunt necessitatibus ratione sit. At consectetur dignissimos incidunt quis.
  </div>
  <div class="body" ng-style="minHeight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque labore magnam neque reprehenderit? Assumenda culpa, deleniti earum magni optio possimus quisquam ratione. Accusamus doloremque exercitationem iusto laboriosam obcaecati reprehenderit veniam!
  </div>
  <div class="footer" ng-style="minHeight">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi assumenda consequatur cum earum est facilis minus non nulla omnis porro, quaerat quas quia, quod sed suscipit tempora. Exercitationem, quis.
  </div>
</div>
