<div class="overlay project-wrapper    {{currentProject.cssClasses}}  {{currentProject.modalState}}" ng-style="{'blur':currentProject.modalOpened}">

  <!-- Project details and role-->
  <div class="container ptl">
    <div class="close-modal text-right">
      <a class="" ng-click="toggle(currentProject)">
        <img src="/images/cross.png" alt=""/>
      </a>
    </div>
    <a ng-href="{{currentProject.url}}" target="_">
      <h1 class="title project-title">{{currentProject.title}}
        <i ng-if="currentProject.url.length > 0" class="fa fa-share-square-o"></i>
      </h1>
    </a>

    <p class="project-desc desc">{{currentProject.description}}</p>

    <h1 class=" title small role">My Role</h1>

    <p class="role-desc desc">
     {{currentProject.role}}
    </p>

    <div ng-if="currentProject.type == 'mobile'" class="preview-mobile">
        <div class="iphone-frame">
          <img src="{{currentProject.previewImageUrl}}" alt=""/>
        </div>
    </div>
  </div>

  <!-- Techstack and preview-->
  <div ng-if="currentProject.type == 'web'" class="tech hidden-sm hidden-xs">


    <div class="preview">
      <div class="bar">
        <img src="/images/browser_bar.png" alt=""/>
      </div>
      <div class="photo">
        <img src="{{currentProject.previewImageUrl}}" alt=""/>
      </div>
    </div>

    <div class="tech-stack ">
      <div class="title">
        <img src="/images/stack.png" alt=""/>
        Technology Stack
      </div>
      <div class="line"></div>
      <div class="techs backend">
        <div class="tech-headline">Backend</div>
        <div class="line"></div>
        <div class="backend">
          <div class="tech-name" ng-repeat="tech in currentProject.techStack.backend">{{tech}}</div>
        </div>
        <div class="frontend">
          <div class="tech-headline">Frontend</div>
          <div class="line"></div>
          <div class="tech-name" ng-repeat="tech in currentProject.techStack.frontend">{{tech}}</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="currentProject.type == 'web'" class="tech-compact visible-sm visible-xs container">
    <div class="preview-small">
      <div class="bar">
        <img src="/images/browser_bar.png" alt=""/>
      </div>
      <div class="photo">
        <img src="{{currentProject.previewImageUrl}}" alt=""/>
      </div>
    </div>
    <div class="tech-stack-small ">
      <div class="title">
        <img src="/images/stack.png" alt=""/>
        Technology Stack
      </div>
      <div class="line"></div>
      <div class="techs backend">
        <div class="tech-headline">Backend</div>
        <div class="line"></div>
        <div class="backend">
          <div class="tech-name" ng-repeat="tech in currentProject.techStack.backend">{{tech}}</div>
        </div>

        <div class="frontend ">
          <div class="tech-headline">Frontend</div>
          <div class="line"></div>
          <div class="tech-name" ng-repeat="tech in currentProject.techStack.frontend">{{tech}}</div>
        </div>
      </div>
    </div>



  </div>

  <div class="clearfix"></div>

  <!-- Project screenshots-->
  <div ng-if="currentProject.type =='web'" class="screenshots container">
    <div class="screenshots-headline">
      <img src="/images/camera.png" alt=""/>
      Screenshots
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="no-relative col-md-4 col-sm-6 col-xs-12" ng-repeat="screenie in currentProject.screenshots track by $index">
        <a ng-href="{{screenie}}" class="fluid-zoom">
          <img ng-src="{{screenie}}"  alt="x"/>
        </a>
      </div>

    </div>
  </div>


  <div ng-if="currentProject.type=='mobile'" class="screenshots container">
    <div class="screenshots-headline">
      <img src="/images/camera.png" alt=""/>
      Screenshots
    </div>
    <div class="line"></div>
    <div class="row">
      <div class="no-relative col-md-3 col-sm-4 col-xs-6" ng-repeat="screenie in currentProject.screenshots track by $index">
        <a ng-href="{{screenie}}" class="fluid-zoom">
          <img ng-src="{{screenie}}"  alt="x"/>
        </a>
      </div>

    </div>
  </div>
</div>
